
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Source+Code+Pro:wght@700&display=swap');

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
* { 
 margin: 0; 
 padding: 0; 
 box-sizing: border-box; 
} 

.main {
    width:100%;
    height: 100vh;
    background-color:#09090b;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.sign-up-button {
    color:white;
    position: absolute;
    padding: .5rem;
    margin: 2rem;
    top:0;
    left:0;
    text-decoration: none;
}

.sign-up-button:hover {
    background-color: rgba(255, 255, 255, .2);
    border-radius: .5rem;
    transition: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.title-box {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    margin-right: 5rem;
    font-size: x-large;
}

.quote-box > h1 {
    font-size: x-large;
}

.quote-box > h2 {
    font-size: large;
}

.quote-box {
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: end;
}

.login-form {
    color:white;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-form > p{
    margin-top: 1rem;
}

.login-information{
    width:50%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-left: #27272a;
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-style: solid;
    border-width: 2px;
}


.login-form-box {
    position:relative;
    width: 80vw;
    height: 80vh;
    border-radius: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(
        to right,
        #09090b 0%,
        #09090b 50%,
        #18181b 50%,
        #18181b 100%
    );
    border: #27272a;
    border-style: solid;
    border-width: 2px;
    
}

.login-form > p {
    color: #b1b3ba;
}

.login-information > p { 
    color: #b1b3ba;
}


.login-form-items {
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.login-form-items > input {
    width:50%;
    margin: .5rem;
    padding: .5rem;
    border: 1px;
    border-color: #18181b;
    border-style: solid;
    border-radius: .5rem;
    color:white;
    background-color: transparent;
}

.login-form-items > button {
    background-color: white;
    color:black;
    width: 50%;
    border-radius: .5rem    ;
    border: none;
    padding: .5rem;
}

.login-form-items > label, button {
    margin-top: 1rem;
}

/* Crafting stuff for the landing page below */

.main-landing {
    width:100%;
    height: 100vh;
    background-color:#09090b;
    justify-content: center;
    display:flex;
}

.user-information{
    width: 66.6%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 6rem;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    border-left: transparent;
    border-top: transparent;
    border-right:#27272a;
    border-bottom: transparent;
    border-style: solid;
    border-width: 2px;
}

.search-add {
    width: 33.3%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 6rem;
    align-items: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.sub-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0rem;
    font-size: xx-large;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #3d3b66;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* tables */

table {
    width:100%;
    table-layout: fixed;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 10px;
    border-style: ridge;
}

.tables {
    align-self: center;
    padding-left: 50px;
    padding-right: 50px;
}

